{% extends "homePage.html" %}

{% block title %} Drinks {% endblock %}
{% block contents %}

    <div class = "container listFormat">
        <h1>Menu</h1>
        <ol>
            <li>  Pearl Milk Tea  </li>
            <li> German Black Forest Tea </li>
            <li> Ceylon Honey Tea  </li>
            <li> Blue Butterfly Tea  </li>
            <li>  Thai Milk Tea </li>
            <li>  Dark Roasted Oolong Tea  </li>
            <li>  Honeydew Milk Bubble Tea  </li>
            <li>  Taro Milk Tea </li>
            <li>  Guava Milk Bubble Tea  </li>
            <li>  Pina Colada Milk Bubble Tea </li>
            <li>  Orea Milk Tea  </li>
            <li>  Hokkaido Milk Tea  </li>
            <li>  Okinawa Milk Tea  </li>
        </ol>
    </div>




{% endblock %}