{% extends"homePage.html" %}

{% block title %} Locations {% endblock %}

{% block contents %}

    <div class = "listFormat">
     <h1> Our locations: </h1>
    <ul>

        <li>  6817 43 Av Montreal QC
        <ul>
            <li>  H1T 2R9 </li>
            <li> (514) 376-8344 </li>
         </ul>
    </li>


        <li> 7503 Rue St Denis Montreal QC
        <ul>
            <li>  H2R 2E7  </li>
            <li>  (514) 279-7016  </li>
         </ul>
    </li>


        <li>7766 George Street Lasalle  Montreal QC
        <ul>
            <li>  H8P 1E1  </li>
            <li> (514) 366-7190  </li>
         </ul>
    </li>


    </ul>

    </div>
{% endblock %}